body {
    text-align: center;
    font: 1em sans-serif;
    background-color: #393cff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    margin: 0;
    overflow-x: hidden;
}

#game {
    font: 1em sans-serif;
    font-family: "Bungee Spice", sans-serif;
    text-align: center;
}

#word-display {
    font-size: 10rem;
}

h1 {
    font-size: 5rem;
    padding-top: 10rem;
    margin: 0;
}

/* Button on HOME page to play first game */
#play-game {
    font-family: "Bungee Spice", sans-serif;
    font-size: 3rem;
    width: 30rem;
}

/* guessing */
#guess-box {
    margin: auto;
    padding-bottom: 0.5rem;

}

#guesses-left {
    font-size: 3rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin: 0;
}

#guessed-letters {
    font-size: 3rem;
    margin: auto;
    padding: 1rem;
}

#guess-input {
    width: 20rem;
    height: 3.1rem;
    font-size: 3rem;
}

fieldset {
    border-style: none;
}

/* button style */

i {
    font-size: 3rem;
    color: #ff4500;
}

img {
    border-radius: 5%;
}

/* index page */

#welcome {
    font-size: 2rem;
    font-family: "Rubik", sans-serif;
    width: 40rem;
    padding: 2rem;
}

a {
    font-family: "Bungee Spice", sans-serif;
    text-decoration: none;
    font-size: 4rem;
}

#welcome-text {
    font-family: "Bungee Spice", sans-serif;
    font-size: 4rem;
}

p {
    color: white;
}

ul {
    color: white;
}

/* Informational messages during game play */
#messages-out {
    font-family: "Bungee Spice", sans-serif;
    font-size: 3rem;
    padding-bottom: 2rem;
}

/* Button to start new game. Displayed only after winning / losing */
#newGame {
    font-size: 2rem;
    width: 4.5rem;
    height: 4.5rem;
    background-color: #393cff;
    border-style: solid;
    border-color: #f2a700;
    border-radius: 50%;

}