body {
    text-align: center;
    font: 1em sans-serif;
    background-color: #393cff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#game {
    font: 1em sans-serif;
    font-family: "Bungee Spice", sans-serif;
    text-align: center;
}

#word-display {
    font-size: 10rem;
}

h1 {
    font-size: 5rem;
}

/* guessing */
#guess-box {
    margin: auto;
    padding-bottom: 4rem;

}


#guesses-left {
    font-size: 3rem;
}

#guessed-letters {
    font-size: 3rem;
}

#guess-input {
    width: 20rem;
    height: 3.1rem;
    font-size: 3rem;
}

fieldset {
    border-style: none;
}

/* button style */


i {
    font-size: 3rem;
    color: orangered;

}


img {
    border-radius: 5%;
}

/* landing page */

#welcome {
    font-size: 2rem;
    font-family: 'Rubik', sans-serif;
    width: 35rem;

}

a {
    font-family: "Bungee Spice", sans-serif;
    text-decoration: none;
    font-size: 4rem;
}